full-article-footer {
    border-top: 1px solid #E0DFDB;
}

.article-footer {
    padding: 1px 1px 1px 11px;
    min-height: 50px;
    display:table;
}

.avatar-module {
    display: table-cell; 
    vertical-align: middle;
}

.avatar-module img {
    border-radius: 50%!important;
    height: 65px;
    width: 65px;
    float: left;
    margin:0px 20px 0px 20px;
}

.article-footer p {
    line-height:0.5em;
    padding-left:1px;
}

a.author-link {
    font-size:25px;
    line-height:2em;
    color:#617a3a;
    text-decoration:none;
}

a.author-link:hover {
    color:#000000;
    text-decoration:none;
}

@media (max-width:750px) {

    .article-footer {
        display:inherit;
        margin:0px;
    }

    .avatar-module {
        display:inherit; 
        vertical-align: none;
    }

    .avatar-module img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float:none;
        margin-top:0px;
    }

    .article-footer p {
        text-align:center;
        padding-left:0px;
    }

}
